.navbar.aec{
  background-color: rgba(179, 51, 127, 1.0) !important;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.breadcrumb.aec{
  padding:15px 0px;
  margin-bottom: 5px;
}

.breadcrumb.aec a{
  color: white;
}
.breadcrumb.aec a{
  color: white;
}

.breadcrumb.aec>.active {
 font-weight:bold;
 color:white
}