.navbar.aec{
  background-color: rgba(179, 51, 127, 1.0) !important;
  color: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.breadcrumb.aec{
  padding:15px 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.breadcrumb.aec a{
  color: white;
}

.breadcrumb > li + li::before{
  color: #fff;
}

.breadcrumb.aec>.active {
 font-weight:bold;
 color:white
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.navbar-logo{
  margin-right: 10px;
  padding-top: 5px;
  padding-right: 15px;
  width: 100%;
}

h3,h4 {
  color: #d53c88;
}
h3{
  font-size: 28px;
}

.nivel{
 padding:0px 5em;
}
button.btn-aec{
  background-color: rgba(179, 51, 127, 1.0) !important;
}

.card{
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding: 1rem 3rem;
}