/*
|---------------------------------------------------------------
| Estilos pizarra
|---------------------------------------------------------------
|
*/
@font-face {
  font-family: "Sketch";
  src: url("./fonts/Urban.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Urban.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Urban.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Urban.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Urban.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Urban.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Urban.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KGTenThousandReasons";
  src: url("./fonts/KgTenThousandReasons-R1ll.eot"); /* IE9 Compat Modes */
  src: url("./fonts/KgTenThousandReasons-R1ll.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/KgTenThousandReasons-R1ll.otf") format("opentype"), /* Open Type Font */
    url("./fonts/KgTenThousandReasons-R1ll.svg") format("svg"), /* Legacy iOS */
    url("./fonts/KgTenThousandReasons-R1ll.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/KgTenThousandReasons-R1ll.woff") format("woff"), /* Modern Browsers */
    url("./fonts/KgTenThousandReasons-R1ll.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KGTenThousandReasonsAlt";
  src: url("./fonts/KgTenThousandReasonsAlt-BOrl.eot"); /* IE9 Compat Modes */
  src: url("./fonts/KgTenThousandReasonsAlt-BOrl.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/KgTenThousandReasonsAlt-BOrl.otf") format("opentype"), /* Open Type Font */
    url("./fonts/KgTenThousandReasonsAlt-BOrl.svg") format("svg"), /* Legacy iOS */
    url("./fonts/KgTenThousandReasonsAlt-BOrl.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/KgTenThousandReasonsAlt-BOrl.woff") format("woff"), /* Modern Browsers */
    url("./fonts/KgTenThousandReasonsAlt-BOrl.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.breadcrumb {
  padding: 22px 0 12px 15px !important;
  margin-bottom: 0px !important;
}

img {
  max-width: 100%;
  height: auto;
  width: auto/9; /* Bug de ie8 */
}

#blackboard {
  padding: 10px;
  /*background-image: url('../../images/bg.jpg');*/
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: 80%;
  border: 15px solid #13322B; /*#904e2b*/
  border-radius: 10px;
}
#blackboard .bbInfo {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
#blackboard .bbInfo img {
  width: 50px;
  height: auto;
}

#blackboard h1 {
  font-family: 'Sketch', 'Montserrat';
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
#blackboard .bbLogo {
  text-align: center;
  margin: 0 auto
}
/*#blackboard p{
  font-family: 'Sketch', 'Montserrat';
  text-align: center;
  color: #545454;
}*/
#blackboard h1 span:nth-child(1) { /*A*/
  color: #ff7f00;
}
#blackboard h1 span:nth-child(2) { /*P*/
  color: #ffd700;
}
#blackboard h1 span:nth-child(3) { /*R*/
  color: #20b2ad;
}
#blackboard h1 span:nth-child(4) { /*E*/
  color: #800080;
}
#blackboard h1 span:nth-child(5) { /*N*/
  color: #000066;
}
#blackboard h1 span:nth-child(6) { /*D*/
  color: #ff3355;
}
#blackboard h1 span:nth-child(7) { /*E*/
  color: #66bf39;
}
#blackboard h1 span:nth-child(8) { /*E*/
  color: #45a3e5;
}
#blackboard h1 span:nth-child(9) { /*N*/
  color: #ffd700;
}
#blackboard h1 span:nth-child(10) { /*C*/
  color: #20b2ad;
}
#blackboard h1 span:nth-child(11) { /*A*/
  color: #800080;
}
#blackboard h1 span:nth-child(12) { /*S*/
  color: #ff3355;
}
#blackboard h1 span:nth-child(13) { /*A*/
  color: #ff7f00;
}
.text-animated {
  font-family: 'Montserrat';
  color: #545454;
  padding: 20px;
  line-height: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px;
  font-size: 14px;
}
#intro {
  display: none;
  padding: 40px;
}
.ficha-collapse .panel-heading h4 {
  color: #000000 !important;
}
/*.text-animated p:first-child {
  white-space: nowrap;
  overflow: hidden;  
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}
@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}*/

#bbMenu {
  display: none;
  padding: 40px;
}

.bbItem {
  /*text-align: left;*/
  display: grid;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 0px 19px 19px 20px;
  position: relative;
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  float: left;
}

.bbItem img:hover {
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.bbItem-img img {
  border-radius: 15%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  width: 100px;
  height: 100px;
}
.bbItem-title {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  color: #000000;
  width: 100px;
}

#bbMenu .letter {
  width: 100px;
  height: 110px;
  margin: 0 auto;
}

h4, p, ul {
  color: #000000 !important;
}

/*desktop*/

@media screen and (max-width: 1199px) {
  #bbMenu .col-sm-10 {
    padding-left: 70px;
  }
}

/*@media screen and (min-width: 992px) {*/
@media screen and (max-width: 1199px) {
  .bbItem {
    margin: 0px 19px 20px 19px;
  }
}

/*@media (min-width: 768px) and (max-width: 991px) {*/
@media (min-width: 768px) and (max-width: 1999px) {
  
}

/*phone*/
@media (max-width: 767px) {
  #bbMenu .letter {
    float: left;
    margin-right: 5px;
    width: 70px;
    height: 80px;
  }

  #blackboard h1 {
    font-size: 42px;
    margin-bottom: 0px;
  }

  #bbMenu {
    padding: 10px 0 10px 40px;
  }

  #bbMenu .col-sm-2 {
    margin-bottom: 110px;
    padding-left: 25px;
  }

  .bbItem {
    margin: 0px 10px 20px 10px;
  }

  #blackboard .bbInfo {
    top: 0px;
    right: 0px;
  }

  #bbMenu .col-sm-10 {
    padding-left: 14px;
  }
}